@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  list-style: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  font-size: 10px;
}

header {
  font-size: 1.3rem;

  .seperator {
    width: 1px;
    height: 1.6em;
    background-color: #666;
    opacity: 75%;
  }

  &>.header-top {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75em 16.5rem;
    gap: 2em;

    @media screen and (max-width: 960px) {
      display: none;
    }

    .date-time {
      display: flex;
      gap: 0.3em;
      align-items: center;
    }

    &>.temperature {
      margin-right: auto;
    }

    .login-register {
      display: flex;
      gap: 0.9em;
      align-items: center;
    }

    &>.social {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }

  &>.bottom-header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5em;
    padding: 1.25em 16.5rem;
    align-items: center;
    font-size: 1.4rem;

    &>.logo {
      @media screen and (max-width: 960px) {
        margin-right: auto;
      }

      &>img {
        height: 4.012rem;
        width: 12.4rem;
        // object-fit: contain;
      }
    }

    &>nav {
      text-transform: uppercase;
      font-weight: bold;
      opacity: 0.6;
      margin: auto;

      @media screen and (max-width: 960px) {
        display: none;
      }

      &>ul {
        display: flex;
        gap: 2em;

        &>li {
          &>a {
            display: flex;
            gap: 0.5em;
            text-decoration: none;
            align-items: center;
            font-size: 1.35rem;
            font-weight: 500;
            color: black;

            &>i {
              font-size: 1rem;
              opacity: 0.3;
            }
          }
        }
      }
    }

    &>.seperator {
      height: 2em;
      opacity: 25%;
    }

    &>.search>i {
      font-size: 2rem;
    }

    &>.bars>i {
      font-size: 3rem;
    }
  }
}

main {
  &>header {
    background-color: #f4f7f8;
    text-align: center;
    font-weight: 700;
    font-size: 3.4rem;
    padding: 1em;
    text-transform: uppercase;
  }

  &>.wrapper {
    display: flex;
    // max-width: 1920px;
    margin: auto;
    padding: 4.75rem 18rem;
    gap: 8em;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      padding: 2em;
      margin: auto;
      gap: 0;
    }

    &>section {
      display: flex;
      gap: 4.5rem;
      flex-direction: column;

      &>article {
        background-color: #f4f7f8;
        display: flex;
        padding: 4.5rem 4rem;
        // justify-content: space-evenly;
        width: 100%;
        align-items: center;

        @media screen and (max-width: 1300px) {
          flex-direction: column;
        }

        &>img {
          width: 40rem;
          height: 29rem;
          z-index: 1;

          @media screen and (max-width: 1300px) {
            flex-direction: column;
          }
        }

        &>.details {
          flex: 1;
          padding: 8rem 3em;
          // margin-left: -8rem;
          background-color: white;
          display: flex;
          flex-direction: column;
          position: relative;
          gap: 2em;

          &::before {
            position: absolute;
            content: "";
            height: 100%;
            background: inherit;
            width: 8rem;
            top: 0;
            left: -8rem;

            @media screen and (max-width: 1300px) {
              width: 100%;
              height: 8rem;
              top: -8rem;
              left: 0;
            }
          }

          &>.date {
            // padding-top: 2em;
            display: flex;
            align-items: center;
            gap: 0.5em;
            font-size: 1.2rem;
            opacity: 0.4;
          }

          &>.title {
            line-height: 2.5rem;
            font-weight: 410;
            font-size: 2.3rem;
          }

          &>.description {
            line-height: 2.5rem;
            opacity: 0.6;
            font-size: 1.5rem;
          }

          &>.author {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
            padding-top: 3em;

            & img {
              height: 3rem;
              width: 3rem;
              border-radius: 50%;
            }

            &>.name {
              font-size: 1.4rem;
              opacity: 0.5;
            }
          }
        }
      }
    }

    &>aside {
      display: flex;
      gap: 4.5rem;
      flex-direction: column;
      min-width: 245px;
      width: 45%;

      @media screen and (max-width: 900px) {
        padding: 0;
        margin: 0;
      }

      &>section>header {
        position: relative;
        height: 2em;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.6rem;

        &::before {
          position: absolute;
          content: "";
          width: 4rem;
          bottom: 0;
          min-height: 0.5rem;
          background-color: black;
        }
      }

      &>.offer {
        &>img {
          width: 100%;
        }
      }

      &>.popular-posts {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &>ul {
          background-color: #f4f7f8;
          padding: 2em 0;
          padding-right: 2rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          position: relative;

          &::before {
            position: absolute;
            content: "";
            height: 100%;
            background: white;
            width: 4rem;
            top: 0;
            left: 0rem;
          }

          &>li {
            display: flex;
            gap: 2em;
            align-items: center;
            justify-content: space-between;

            &>img {
              width: 10rem;
              z-index: 1;
            }

            &>.details {
              background-color: white;
              flex: 1;
              padding: 2rem 0;
              display: flex;
              flex-direction: column;
              gap: 1rem;
              position: relative;

              &::before {
                position: absolute;
                content: "";
                height: 100%;
                background: inherit;
                width: 6em;
                top: 0;
                left: -6rem;
              }

              &>.date {
                display: flex;
                gap: 1em;
                font-size: 1rem;
                opacity: 0.5;
              }

              &>.title {
                font-weight: bold;
                font-size: 1.4rem;
              }
            }
          }
        }
      }

      &>.latest-review {
        &>main {
          padding-top: 3rem;

          &>.focused {
            background-color: #f4f7f8;

            &>img {
              width: 100%;
            }

            &>.details {
              padding: 3rem;
              background-color: white;
              display: flex;
              flex-direction: column;
              gap: 1rem;
              width: 80%;
              margin: auto;
              transform: translateY(-6rem);
              margin-bottom: -6rem;

              &>.date {
                opacity: 0.5;
                font-size: 1rem;
              }

              &>.title {
                font-weight: 500;
                font-size: 1.8rem;
              }

              &>.rating {
                margin-top: 1rem;
                color: orange;
              }
            }
          }

          &>ul {
            padding: 2em;

            display: flex;
            flex-direction: column;
            gap: 2rem;

            &>li {
              display: flex;
              gap: 2em;
              align-items: center;
              justify-content: space-between;

              &>img {
                width: 10rem;
                z-index: 1;
              }

              &>.details {
                background-color: white;
                flex: 1;
                padding: 2rem 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                position: relative;

                &::before {
                  position: absolute;
                  content: "";
                  height: 100%;
                  background: inherit;
                  width: 6em;
                  top: 0;
                  left: -6rem;
                }

                &>.title {
                  font-weight: bold;
                  font-size: 1.4rem;
                }

                &>.rating {
                  margin-top: 1rem;
                  color: orange;
                }
              }
            }
          }
        }
      }

      &>.offer {
        &>img {
          width: 100%;
        }
      }

      &>.daily-fashion-tip {
        &>main {
          padding-top: 3rem;

          &>article {
            background-color: #f4f7f8;

            &>img {
              width: 100%;
            }

            &>.details {
              padding: 2em;
              width: 80%;
              background-color: white;
              margin: auto;
              display: flex;
              gap: 1em;
              flex-direction: column;
              transform: translateY(-6rem);

              &>.author {
                display: flex;
                flex-direction: row;
                gap: 1em;
                align-items: center;

                &>img {
                  width: 2.5rem;
                  height: 2.5rem;
                  border-radius: 50%;
                }

                &>.name {
                  opacity: 0.5;
                }
              }

              &>.title {
                font-weight: bold;
                font-size: 1.6rem;
              }
            }
          }

          &>.controls {
            padding: 2rem 0;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            &>.control {
              width: 1rem;
              height: 1rem;
              background-color: #666;
              border-radius: 50%;
            }
          }
        }
      }

      &>.instagram {
        width: 100%;

        &>main {
          padding-top: 3rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  background-image: url(http://deeptem.com/magazine/wp-content/uploads/2017/12/dp-mag-foo-bg1.jpg);
  background-size: cover;
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
  padding: 4.5rem;
  gap: 2rem;

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }

  & header {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 2rem;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #888;
      bottom: 0.5rem;
      left: 0;
    }

    &::after {
      position: absolute;
      content: "";
      width: 4rem;
      height: 5px;
      background-color: #437df9;
      bottom: 0.25rem;
      left: 0;
    }
  }

  & section,
  & section>div {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
  }

  & section>div {
    padding: 0;
  }

  &>.categories {
    flex: 1;

    &>ul {
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      &>li {
        display: flex;
        justify-content: space-between;

        &>a {
          text-decoration: none;
          color: inherit;

          &::before {
            content: "> ";
          }
        }

        &>.badge {
          padding: 0.125rem 0.5rem;
          color: #888;
          background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }
  }

  &>.tags {
    gap: 5rem;
  }

  &>.tags>.top>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    &>li {
      padding: 0.75rem 1rem;
      background-color: rgba(255, 255, 255, 0.05);
      color: #666;
    }
  }

  &>.tags>.bottom {
    form {
      display: flex;
      position: relative;
      align-items: center;

      input {
        border-radius: 4.2rem;
        padding: 1.5rem 2rem;
        flex: 1;
        border: none;
      }

      button {
        border-radius: 2rem;
        position: absolute;
        right: 0.5em;
        padding: 0.75em;
        border: none;
        background-color: #437df9;
        display: grid;
        place-items: center;
        color: white;
      }
    }
  }

  &>.latest-posts {

    // display: flex;
    &>ul {
      display: flex;
      flex-direction: column;
      gap: 1em;

      &>li {
        display: flex;
        gap: 1em;
        align-items: center;

        &>.detail {
          display: flex;
          flex-direction: column;
          gap: 1em;

          &>.title {
            font-weight: bold;
          }

          &>.date {
            font-size: 0.9em;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .instagram {
    max-width: 40rem;

    &>main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
}

.copyright {
  display: flex;
  background-color: black;
  justify-content: space-between;
  color: white;
  gap: 1em;
  font-size: 1.4rem;
  padding: 1rem 5.5em;

  .copy-text {
    margin-right: auto;
  }
}